<!– 140文字より多い文字数、または内容が空で投稿した場合、確認画面でエラーメッセージを表示させること –>
<h2>ブログを更新する</h2>
<%= form_with(model: @contact, local: true ,url: choose_new ) do |form| %>
  <% if @contact.errors.any? %>
    <div id="error_explanation">
        <h2><%= @contact.errors.count %>件のエラーがあります。</h2>
      <ul>
      <% @contact.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="contact_name">
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </div>
  <div class="contact_email">
     <%= form.label :email %><br>
     <%= form.text_field :email %>
  </div>
  <div class="contact_content">
    <%= form.label :content %><br>
    <%= form.text_field :content %>
  </div>
  <%= form.submit %>
<% end %>
<%= link_to "ブログ一覧画面にもどる", contacts_path %>
